.radio-appointment{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.form-appointment{
    border: 2px solid #ccc; /* đường viền */
    border-radius: 10px; /* bo tròn các góc */
    height: 100%;
    box-sizing: border-box;

    width: 750px;


    margin: 100px auto 0 ;

    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

    padding: 20px;
}
.input-appointment{
    border-radius: 15px;
    display: flex;
    width: 95%;
    align-items: center;
    margin-left: 10px ;
    padding: 5px;
    background: white;
}
.find{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}
