.form-login{
    height: 600px;
    width: 800px;
    margin-bottom: -70px;
    margin-top: -70px;
    background-image: linear-gradient(to left, #DECBA4, #3E5151);
    padding: 20px;
    margin-left: 20px;
}
.link-login{
    text-align: center;
}
